.container{
    margin-bottom: 100px;
    
}


.color{

    color:gray;
}
.buy-button{
    background-color: black;
    color:white;
    padding:10px 20px;
    border-radius:10px;
}
.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
}
a{
    color:orange;
    text-decoration: none;
}
.row{
    margin-top: 50px;
}
.card{
    padding:50px;
    border:none;
}
.background-img{
    margin-bottom:50px;
    position:10px;
}
.card{
    box-shadow: 5px 5px 10px #cdcdcd;
    border-radius: 15px;
}
.card-footer{
    border:none;
    background-color:white;
    text-align: center;
}
.col h2{
    text-align: center;
}
.cat{
    text-align: center;
}
hr{
    width:120px;
    background-color: orange;
    height:7px;
    border-radius: 10px;
}
.col-md-3{
    padding-top: 200px;
}
.serapara{
    padding-top: 60px;
}
footer{
    text-align: center;
}